# Node modules
node_modules/

# Лог-файли
*.log

# Вибрані файли для налагодження
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Секрети
.env

# Можливі скомпільовані файли
dist/
build/

# Налаштування IDE
.vscode/
.idea/

# Тестові артефакти
coverage/

# Системні файли
.DS_Store
Thumbs.db

# NPM / Yarn package lock файли
package-lock.json
yarn.lock
